.Navigation {
  display: flex;
}
.NavLink {
  display: block;
  font-size: 25px;
  font-weight: 600;
  margin-right: 18px;
  color: darkblue;
  text-decoration: none;
}

.NavLink:hover,
.NavLink:focus {
  color: #fff;
}

.NavLinkActive {
  text-decoration: underline;
  color: #fff;
}
