/* *,
*::before,
*::after {
  margin: 0;
  padding: 0;
}
body {
  margin: 0;
  line-height: 1.5;
}
ul {
  list-style: none;
}
/* li {
  list-style: none;
/* } */
/* a {
  text-decoration: none;
}
.NavLink {
  display: block;
  font-size: 50px;
  margin-right: 12px;
  color: darkblue;
}
.NavLink--active {
  display: block;
  color: #fff;
}

.NavLink:hover,
.NavLink:focus {
  color: #fff;
}  */
